.table-header {

    border-radius: 5px;
    background-color: #F2F2F2;
}

.accordion {

    --ion-item-background: #f3f2f1;
    --border-radius: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;

    ion-col {

        --ion-grid-column-padding: 0px;
        overflow-x: scroll;
    }
}

.inside-item {

    border-radius: 5px;
    margin-top: 10px;
    overflow-x: inherit;
}

.edit-option {

    --background: #60e8d6;
}

.delete-option {

    --background: var(--ion-color-rcustom);
}