<ion-header>
  <ion-toolbar>

    <ion-title class="toolbar-title" style="font-size: 1.2rem;" size="small">Meta Mensal</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="doDismiss();">Cancelar</ion-button>
      <ion-button (click)="updateGoal(id);">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="margin-top: 10px;">

    <ion-row style="display: flex; justify-content: center;">

      <ion-col size="5">

        <ion-item>

          <ion-label position="default" class="modal-label">Valor:</ion-label>
          
        </ion-item>  
      </ion-col>
      <ion-col size="7">

        <ion-item class="" #ionItem>

          <ion-input [ngModel]="goalValue" (ngModelChange)="changeGoalValue($event);" class="modal-input" inputmode="numeric" placeholder="R$ 00,00" autofocus="true"></ion-input>
        </ion-item>
        <div *ngIf="showInvalidWarning" class="invalid-input-value">

          <span>Valor inválido</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>