<ion-header>

  <ion-toolbar>

    <ion-title style="font-size: 1.2rem;" size="small" class="toolbar-title">Venda #{{sale.id}}</ion-title>
    <ion-buttons slot="end">

      <ion-button *ngIf="showLabels" (click)="modalController.dismiss('', '', 'modalShowSale')">Fechar</ion-button>
      <ion-button *ngIf="showLabels" (click)="changeStatusShowLabels()">Editar</ion-button>

      <ion-button *ngIf="!showLabels" (click)="changeStatusShowLabels()">Cancelar</ion-button>
      <ion-button *ngIf="!showLabels" (click)="updateSale()">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col>

        <ion-item-divider>

          <ion-label><ion-icon name="person"></ion-icon> Cliente</ion-label>
        </ion-item-divider>    
      </ion-col>
    </ion-row>
  
    <ion-row>

      <ion-col>

        <ion-item>
  
          <ion-label *ngIf="showLabels">{{sale.client_name}}</ion-label>
          <ion-input inputmode="text" [(ngModel)]="clientName" name="clientName" *ngIf="!showLabels"></ion-input>
        </ion-item>
    
      </ion-col>
    </ion-row>
  
    <ion-row>

      <ion-col>

        <ion-item-divider>
  
          <ion-label><ion-icon name="receipt"></ion-icon> Serviço</ion-label>
        </ion-item-divider>
    
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>

        <ion-item *ngIf="showLabels">

          <ion-label>{{sale.service_name}}</ion-label>      
        </ion-item>                

        <ion-select ok-text="Ok" cancel-text="Fechar" [(ngModel)]="serviceId" name="serviceId" value="{{serviceId}}" *ngIf="!showLabels">
        
          <ion-select-option *ngFor="let service of services" value="{{service.id}}">{{service.title}}</ion-select-option>
        </ion-select>

      </ion-col>
  
    </ion-row>
  
    <ion-row>

      <ion-col>

        <ion-item-divider>
  
          <ion-label><ion-icon name="cash"></ion-icon> Preço Aplicado</ion-label>
        </ion-item-divider>    
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>

        <ion-item #ionItem>
  
          <ion-label *ngIf="showLabels">{{sale.aplied_price | currency: 'BRL': symbol}}</ion-label>
          <ion-input [(ngModel)]="apliedPrice" name="apliedPrice" (ngModelChange)="changeSaleValue($event);" inputmode="numeric" placeholder="R$ 00,00" *ngIf="!showLabels"></ion-input>
      
        </ion-item>            
      </ion-col>
    </ion-row>

    <div *ngIf="showInvalidWarning" class="invalid-input-value">
    
      <span>Valor inválido</span>
    </div>

    <ion-row>

      <ion-col>

        <ion-item-divider>
  
          <ion-label><ion-icon name="calendar"></ion-icon> Data</ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>

        <ion-item>
  
          <ion-label *ngIf="showLabels">{{sale.date.split('-').reverse().join('/')}}</ion-label>
          <ion-datetime display-format="DD/MM/YYYY" display-timezone="utc" [(ngModel)]="date" placeholder="Escolha a data" cancel-text="Cancelar" done-text="Ok" name="date" *ngIf="!showLabels"></ion-datetime>
        </ion-item>
            
      </ion-col>
    </ion-row>
  
    <!-- <ion-grid>
  
      <ion-row>
  
        <ion-col size="12">
  
          <ion-item>
  
            <ion-label position="fixed">Cliente:</ion-label>
            <p>Antônia Maria Souza Freitas</p>
          </ion-item>
          </ion-col>
      </ion-row>
  
      <ion-row>
  
        <ion-col size="12">
  
          <ion-item>
  
            <ion-label position="fixed">Serviço:</ion-label>
            <p>TEstefadfasdfafa</p>  
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
  
        <ion-col size="12">
  
          <ion-item>
  
            <ion-label position="fixed">Preço Aplicado:</ion-label>
            <p>R$ 300, 30</p>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
  
        <ion-col size="12">
  
          <ion-item>
  
            <ion-label position="fixed">Data:</ion-label>
            <p>20/12/2020</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-grid>
  
</ion-content>