/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 .container {

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    text-align: center;
}

.fail-span {

    font-size: 1.2rem;
    color: rgb(138, 109, 109);
}

 .customModal {

    .toolbar-title {

        --color: red;
    }
    --border-radius: 5px;
 }
 .customAlert {

   .alert-title {

       text-align: center;
   }

   .alert-message {

       text-align: center;
   }
   
}

 .ion-color-rcustom {

    --ion-color-base: var(--ion-color-rcustom);
    --ion-color-base-rgb: var(--ion-color-rcustom-rgb);
    --ion-color-contrast: var(--ion-color-rcustom-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rcustom-contrast-rgb);
    --ion-color-shade: var(--ion-color-rcustom-shade);
    --ion-color-tint: var(--ion-color-rcustom-tint);
 }
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
